body{
    color: red;
}
h1{
    color: green;
}

.hexschool {
    text-align: center;
    color: #00cc99;
    font-size: 24px;
    font-weight: bold;
}

.thanks-list {
    background-color: #d5e6e4;
    color: #002721;
}
